<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/predict" method="post">
        <input type="text" name="Temperature" id="" placeholder="Temperature"><br>
        <input type="text" name="RH" id="" placeholder="RH"><br>
        <input type="text" name="Ws" id="" placeholder="Ws"><br>
        <input type="text" name="Rain" id="" placeholder="Rain"><br>
        <input type="text" name="FFMC" id="" placeholder="FFMC"><br>
        <input type="text" name="DMC" id="" placeholder="DMC"><br>
        <input type="text" name="ISI" id="" placeholder="ISI"><br>
        <input type="text" name="Classes" id="" placeholder="Classes"><br>
        <input type="text" name="Region" id="" placeholder="Region"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>